@value purple, white from '../../../../helpers/colors.css';
@value sansSerif from '../../../../helpers/fonts.css';

.wrapper {
  background-color: purple;
  text-align: center;
  padding: 15px;
  margin-top: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.month {
  color: white;
  font-family: sansSerif;
  font-weight: lighter;
}

.hide {
  visibility: hidden;
}

.chevron {
  fill: white;
}
