{
  "extends": "airbnb",
  "rules": {
    "comma-dangle": 0,
    "prefer-arrow-callback": 0,
    "react/jsx-filename-extension": [
      2, { "extensions": [".js"] }
    ],
    "react/jsx-boolean-value": [2, "always"]
  }
}
