@value sansSerif from '../../../../../../helpers/fonts.css';
@value grayDarker, grayLighter from '../../../../../../helpers/colors.css';

.wrapper {
  border-bottom: 1px solid grayLighter;
  padding: 20px 0 20px 20px;
}

.wrapper.first {
  border-top: 1px solid grayLighter;
}

.username {
  color: grayDarker;
  font-family: sansSerif;
  font-size: 24px;
  font-weight: lighter;
}
