@value grayDarker, gray from '../../../../../../helpers/colors.css';
@value sansSerif from '../../../../../../helpers/fonts.css';

.wrapper {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
  flex-grow: 1;
}

.nameAndDate > span {
  display: block;
  font-family: sansSerif;
}

.name {
  font-size: 17px;
  font-weight: lighter;
  color: grayDarker;
  margin-right: 5px;
}

.date {
  color: gray;
  font-size: 13px;
  margin-top: 5px;
}

.amount {
  font-size: 20px;
  font-family: sansSerif;
  color: grayDarker;
  font-weight: lighter;
}
