@value sansSerif from '../../helpers/fonts.css';
@value grayLighter, grayDarker, gray, yellow, purple from '../../helpers/colors.css';

.wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid grayLighter;
  padding: 12px 30px;
}

.links {
  display: flex;
  flex-direction: row;
}

.links .link:first-child {
  margin-left: 0;
}

.link {
  color: grayDarker;
  text-decoration: none;
  font-family: sansSerif;
  display: block;
  font-size: 13px;
  padding: 0 12px;
  position: relative;
}

.link.active {
  color: purple;
}

.link.active:after {
  content: '';
  width: 100%;
  height: 3px;
  background-color: purple;
  position: absolute;
  bottom: -17px;
  left: 0;
}
