@value gray, grayLighter, grayBackground from '../../../../../../helpers/colors.css';

.pageHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.loaderWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.categoryWrapper {
  composes: fadeInUp from '../../../../../../helpers/animations.css';
  composes: wrapper from '../../../../components/CategoriesList/CategoriesList.css';
  animation-duration: .2s;
  opacity: 1 !important;
}

.categoryName {
  border-bottom: 1px solid grayLighter;
  padding-bottom: 10px;
}

.expensesWrapper {
  padding: 15px 0;
  margin-bottom: 30px;
}

.link {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.chevron {
  fill: grayLighter;
  margin-left: 10px;
  position: relative;
  top: 3px;
}

.label {
  composes: label from '../../../../../../components/AddExpenseForm/AddExpenseForm.css';
  margin-bottom: 5px;
  display: block;
  color: gray;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.expenseCount {
  font-size: 13px;
  margin-left: 5px;
}
