@value purple, yellow from '../../helpers/colors.css';
@value sansSerif from '../../helpers/fonts.css';

.logo {
  color: purple;
  font-family: sansSerif;
}

.logo.medium {
  font-size: 64px;
}

.logo.small {
  font-size: 20px;
}

.dot {
  color: yellow;
}
