@value purple, yellow from '../../helpers/colors.css';
@value sansSerif from '../../helpers/fonts.css';

.logo {
  color: purple;
  font-family: sansSerif;
}

.logo.medium {
  font-size: 64px;
}

.logo.small {
  font-size: 20px;
}

.dot {
  background-color: yellow;
  border-radius: 50%;
  display: inline-block;
  margin-left: 3px;
  position: relative;
}

.logo.medium .dot {
  width: 10px;
  height: 10px;
  top: 1px;
}

.logo.small .dot {
  width: 7px;
  height: 7px;
}
