@value gray, purple, grayDarker, grayLighter from '../../helpers/colors.css';
@value sansSerif from '../../helpers/fonts.css';

.form {
  margin-top: 50px;
}

.inputWrapper {
  border-bottom: 4px solid purple;
  position: relative;
  max-width: 250px;
  margin-bottom: 45px;
}

.inputWrapper:before {
  content: '$';
  color: purple;
  position: absolute;
  left: 15px;
  top: 18px;
  font-family: sans-serif;
  font-size: 25px;
}

.input {
  composes: input from '../AddUserForm/AddUserForm.css';
  padding-left: 40px;
  padding-right: 20px;
  border: 0;
}

.categoriesWrapper {
  margin-top: 20px;
}

.label {
  color: gray;
  text-transform: uppercase;
  font-family: sansSerif;
  margin-bottom: 10px;
}
