@value gray, purple, grayDarker, grayLighter, red from '../../helpers/colors.css';
@value sansSerif from '../../helpers/fonts.css';

.form {
  box-sizing: border-box;
  margin-top: 30px;
  padding: 0 30px;
}

.inputWrapper {
  border-bottom: 3px solid purple;
  position: relative;
  max-width: 70%;
  margin-bottom: 5px;
  margin-top: 10px;
}

.name {
  composes: fadeInUp from '../../helpers/animations.css';
  animation-duration: .2s;
  border-left: 3px solid grayLighter;
  margin-top: 10px;
  transition: opacity .2s ease;
}

.addName {
  composes: button from '../Submit/Submit.css';
  font-size: 13px !important;
  padding: 6px 12px !important; /* Css modules are messing with me...*/
  margin-left: 15px;
}

.addNameButtonWrapper {
  display: flex;
  align-items: center;
}

.inputWrapper.amount:before {
  content: '$';
  color: purple;
  position: absolute;
  left: 15px;
  top: 15px;
  font-family: sansSerif;
  font-size: 22px;
}

.inputWrapper.amount .input {
  padding: 15px 20px 15px 40px;
}

.input {
  composes: input from '../AddUserForm/AddUserForm.css';
  padding: 15px;
  border: 0;
}

.categoriesWrapper {
  margin-top: 30px;
}

.categoriesWrapper label:first-child {
  border-top: 1px solid grayLighter;
}

.submitWrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  color: grayDarker;
  text-transform: uppercase;
  font-family: sansSerif;
  font-weight: lighter;
  margin-top: 2px;
}

.categoryName {
  color: purple;
  font-weight: bold;
}
