@value gray, grayLighter, purple from '../../../../../../helpers/colors.css';

.formWrapper {
  padding: 0 30px;
}

.expenseWrapper {
  margin: 15px 0 10px;
}

.categoriesWrapper {
  composes: categoryList from '../../../../../../components/AddExpenseForm/AddExpenseForm.css';
  margin-bottom: 10px;
}

.form {
  margin-top: 10px;
  margin-bottom: 5px;
}

.submitWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;
}

.headerLabel {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.label {
  composes: label from '../../../../../../components/AddExpenseForm/AddExpenseForm.css';
  margin-top: 25px;
  color: gray;
}

.categoryName {
  color: purple;
  font-weight: bold;
  margin-left: 4px;
}
