@value sansSerif from '../../../../helpers/fonts.css';
@value grayDarker, grayLighter from '../../../../helpers/colors.css';

.wrapper {
  align-items: center;
  border-bottom: 1px solid grayLighter;
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: space-between;
}

.wrapper.first {
  border-top: 1px solid grayLighter;
}

.username {
  color: grayDarker;
  font-family: sansSerif;
  font-size: 24px;
  font-weight: lighter;
}

.icon {
  fill: grayLighter;
}
