@value grayLighter from '../../../../helpers/colors.css';

.wrapper {
  box-sizing: border-box;
  padding: 0 30px;
  margin-top: 15px;
  opacity: 0;
}

.show {
  composes: fadeInUp from '../../../../helpers/animations.css';
  animation-duration: .2s;
  opacity: 1;
}

.emptyCategories {
  composes: emptyCategories from '../../../../components/CategoriesList/CategoriesList.css';
  position: static;
  padding: 30px 0;
  display: inline-block;
  transform: translateY(0);
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.link {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid grayLighter;
}

.emptyCategory {
  opacity: .5;
  padding-right: 30px;
}

.chevron {
  fill: grayLighter;
  margin-left: 10px;
}
