.logo {
  text-align: center;
  transition: transform .5s ease;
}

.loaded {
  transform: translate3d(0, -70%, 0);
}

.wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
}

.userButton {
  background: none;
  border: 0;
  display: block;
  padding: 0;
  text-align: left;
  width: 100%;
}

.userButton:hover {
  cursor: pointer;
  background:
}

.usersWrapper {
  visibility: hidden;
}

.display {
  composes: fadeInUp from '../../../../helpers/animations.css';
  animation-duration: .8s;
  visibility: visible;
}

.formWrapper {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease;
}

.formWrapper.show {
  visibility: visible;
  opacity: 1;
}
