@value sansSerif from '../../../../helpers/fonts.css';
@value grayLighter, grayLightest, red from '../../../../helpers/colors.css';

.logo {
  margin-bottom: 45px;
  text-align: center;
}

.wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  padding: 0 30px;
}

.usersWrapper {
  opacity: 0;
  transition: opacity .5s ease;
}

.usersWrapper.show {
  opacity: 1;
}

.inputWrapper {
  position: relative;
  border-bottom: 1px solid grayLighter;
  margin-bottom: 10px;
}

.inputWrapper:after {
  content: '×';
  position: absolute;
  font-size: 28px;
  opacity: 0;
  top: 16px;
  right: 10px;
  color: red;
  transform: scale(.8);
  transition: opacity .2s ease, transform .3s ease;
}

.inputWrapper.hasError:after {
  opacity: 1;
  transform: scale(1);
}

.input {
  composes: wrapper from './components/User/User.css';
  composes: username from './components/User/User.css';
  border: 0;
  width: 100%;
}

.input:focus {
  outline: 0;
  background-color: grayLightest;
}

.errorMessage {
  color: red;
  font-family: sansSerif;
  font-size: 12px;
  font-weight: bold;
}
