@value sansSerif from '../../../../helpers/fonts.css';
@value grayLightest, red from '../../../../helpers/colors.css';

.logo {
  margin-bottom: 45px;
  text-align: center;
}

.wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  padding: 0 30px;
}

.input {
  composes: wrapper from './components/User/User.css';
  composes: username from './components/User/User.css';
  border: 0;
  margin-bottom: 5px;
  width: 100%;
}

.input:focus {
  outline: 0;
  background-color: grayLightest;
}

.errorMessage {
  color: red;
  font-family: sansSerif;
  font-size: 12px;
  font-weight: bold;
}
